﻿
@model FirstMvc5.Models.Movie
@{
    ViewBag.Title = "AddMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddMovie</h2>
@using (Html.BeginForm("AddMovie", "Movie", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

    @Html.TextBoxFor(m => m.Name,
                          new
                          {
                              @class = "form-control",
                              @placeholder = "Enter Name",
                              @requried = "required"
                          }
                     )
    <button type="submit" class="btn btn-primary">Save</button>
}

